<!DOCTYPE html>
<html lang="en">

<head>
    <title>Núcleos de Pesquisa</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    
    <!-- Bootstrap core CSS -->
    <link href="bootstrap.min.css" rel="stylesheet">
    
    <link href="modern-business.css" rel="stylesheet">
    
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    

    <style type="text/css">
        .carousel-item{
            height: 200px;
        } 
    </style>

</head>

<body>
    <nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark fixed-top">
        <div class="container">
          <a class="navbar-brand" href="index.html">Teste</a>
          <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
              <li class="nav-item">
                <a class="nav-link" href="index.html">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="cursos.html">Cursos</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="cadastro.html"><i class="fa fa-floppy-o"></i> Cadastro</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="login.html"><i class="fa fa-sign-in"></i> Login</a>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownPortfolio" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  <i class="fa fa-user"></i> Perfil
                </a>
                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownPortfolio">
                  <a class="dropdown-item" href="perfil_dados.html">Meus Dados</a>
                  <a class="dropdown-item" href="perfil_inscricoes.html">Inscrições</a>
                  <a class="dropdown-item" href="perfil_cursos.html">Cursos</a>
                </div>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="index.html"><i class="fa fa-sign-out"></i> Logout</a>
              </li>
            </ul>
          </div>
        </div>
      </nav>


  <div class="container">

   <div class="row mt-5 mb-5">
    <div class="col-lg-6">
      <h2>IFRN - Campus Canguaretama</h2>
      <p class="text-justify">O Instituto está localizado na cidade de Canguaretama-RN, na microrregião do Litoral Sul do estado, mesorregião do Leste Potiguar, e tem foco de atuação estabelecido nas áreas de Eletromecânica, Turismo e Informática.</p>
      <p class="text-justify">A Coordenação de <strong>Cursos FIC</strong> do Campus Canguaretama foi criada em 21 de maio de 2015 através da portaria nº 056/2015–DG/CANG, e desde então mais de 30 cursos foram oferecidos ao público interno e externo ao Instituto.</p>
    </div>
    <div class="col-lg-6">
      <img class="img-fluid rounded" src="campus.jpg" alt="">
    </div>
   </div>
  </div>


  

 <footer class="py-5 bg-dark">
    <div class="container">
      <p class="m-0 text-center text-white">Copyright &copy; Cursos FICs - IFRN Cang 2019</p>
    </div>
    <!-- /.container -->
  </footer>

    <!-- Bootstrap core JavaScript -->
    <script src="jquery.min.js"></script>
  <script src="bootstrap.bundle.min.js"></script>

</body>

</html>
