table {
    border: 3px solid black;
    border-collapse: collapse;
    width: 800px;
  }

tr, td {
    border-bottom: 1px solid black;
    border: 1px solid black;
}

h1, h2 {
    text-align: center;
}
